	
._picky {
	position: relative;
	display: block;
	border:1px dotted #666;
}	

	._picky:after {
		font-family: 'Arial Unicode MS',Monda,sans-serif;
		content: "\2742";
		font-size: 4em;
		text-align: center;
		line-height: 0.875em;
		color: #333;
		position: absolute;
		display: block;
		width: 1em;
		height: 1em;
		top:50%;
		left: 50%;
		margin:-0.5em 0 0 -0.5em;
		-moz-animation: pickySpin 2s infinite linear;
		-o-animation: pickySpin 2s infinite linear;
		-webkit-animation: pickySpin 2s infinite linear;
		animation: pickySpin 2s infinite linear;
	}
	
		._picky._picky_picked:after {display: none;}
	
	._picky_bg._picky_picked {
		background-repeat: none;
		background-size: cover;
	}
	
	._picky_picked {
		padding-top:0 !important;
		border: none;
	}

._picky img {
	width:100%;
	max-width: 100%;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}	

	._picky_picking img {opacity: 0;}
	._picky_picked img {opacity: 1;}

/* =================================== animation */
			
@-moz-keyframes pickySpin {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes pickySpin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes pickySpin {
	0% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes pickySpin {
	0% { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(359deg); }
}
@keyframes pickySpin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(359deg); }
}
